#home-category {
    background-color: #fff;
    padding: 10px;

    .carousel-item {
      .ul {
        width: 100%;
        height: auto;
      }
      li {
            display: block;
            list-style: none;
            width: 20%;
            background-repeat: no-repeat;
            background-size: 50px auto;
            background-position: top center;
            text-align: center;
            padding-top: 50px;
            font-size: 14px

        }

      li {
          background-image: url(http://img1.imgtn.bdimg.com/it/u=2331594014,103191623&fm=27&gp=0.jpg);
      }

    }
  }
